body {
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9HCKGOqdYgkyE-2cr-YE6yEEd82jL0rRs4g&usqp=CAU');
	background-color: #333;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}


h1 {
	color: #333;
	font-size: 2em;
	margin: 20px 0;
	text-align: center;
}

h2 {
	color: #333;
	font-size: 1.5em;
	margin: 20px 0;
	text-align: left;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 80%;
}

li {
	font-size: 1.2em;
	margin: 10px;
}

li:nth-child(odd) {
	background-color: rgb(238, 238, 238);
}

li:nth-child(3) {
	color: #00b8d4;
}
